@{
    ViewData["Title"] = "Dashboard";
}
<div style="text-align:center;align-content:center;background-color:cadetblue;background-position:center;width:1100px;height:500px;border-radius:25px">
    <h1>Welcome d4rshsh</h1>

    <br />
    <br />
    <br />
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Logout</a>

    </div>
</div>
